In [346]:
import pandas as pd

## Загружаем датасет

In [347]:
data = pd.read_csv('../data/_data.csv')

In [348]:
data.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

## Удалим столбцы явно не имеющие связи с ценой

In [349]:
data.drop(columns=['Unnamed: 0', 'Телефоны', 'Описание', 'Ссылка на объявление', 'Тип'],inplace=True)
data.head()

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет
2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN
3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN
4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да

## Просмотрим количество уникальных значений в столбцах

In [350]:
for i in data.columns:
    print(f"{i}: {len(data[i].unique())}")

ID  объявления: 23368
Количество комнат: 25
Метро: 5867
Адрес: 12850
Площадь, м2: 11255
Дом: 2565
Парковка: 6
Цена: 3922
Ремонт: 5
Площадь комнат, м2: 3991
Балкон: 19
Окна: 4
Санузел: 21
Можно с детьми/животными: 4
Дополнительно: 529
Название ЖК: 1799
Серия дома: 394
Высота потолков, м: 96
Лифт: 35
Мусоропровод: 3

## Удалим столбцы в которых много уникальных не числовых значений

In [351]:
data.drop(columns=['Серия дома', 'Дополнительно', 'Название ЖК', 'Серия дома', 'Дом'],inplace=True)
data.head()

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Парковка,Цена,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными",3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,3.5,"Пасс (1), Груз (1)",Нет
2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,3.2,Пасс (1),NaN
3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,3.2,Пасс (1),NaN
4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,3.9,"Пасс (1), Груз (1)",Да

## Смотрим количество пустых ячеек по колонкам

In [352]:
print("Количество пропусков в каждом столбце:")
data.isnull().sum()

Количество пропусков в каждом столбце:

ID  объявления                  0
Количество комнат            1041
Метро                        1315
Адрес                           0
Площадь, м2                     0
Парковка                    13417
Цена                            0
Ремонт                       2755
Площадь комнат, м2           8910
Балкон                       7978
Окна                         6613
Санузел                      2672
Можно с детьми/животными     6096
Высота потолков, м          12162
Лифт                         5500
Мусоропровод                10522
dtype: int64

## Далее пройдемся по столбцам и заполним пропуски

## "Количество комнат" сразу преобразуем в числа и заполним пропуски модой

In [353]:
data['Количество комнат'] = data['Количество комнат'].apply(lambda x: int(x.split(",")[0]) if type(x) is str else x)
data['Количество комнат'] = pd.to_numeric(data['Количество комнат'], downcast='integer')

In [354]:
data['Количество комнат'].fillna(int(data['Количество комнат'].mode()), inplace=True)
data.isnull().sum()

/tmp/ipykernel_23535/573639745.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  data['Количество комнат'].fillna(int(data['Количество комнат'].mode()), inplace=True)
/tmp/ipykernel_23535/573639745.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Количество комнат'].fillna(int(data['Количество комнат'].mode()), inplace=True)

ID  объявления                  0
Количество комнат               0
Метро                        1315
Адрес                           0
Площадь, м2                     0
Парковка                    13417
Цена                            0
Ремонт                       2755
Площадь комнат, м2           8910
Балкон                       7978
Окна                         6613
Санузел                      2672
Можно с детьми/животными     6096
Высота потолков, м          12162
Лифт                         5500
Мусоропровод                10522
dtype: int64

##

## В "Метро" оставим только название станций и удалим строки с пропусками

In [355]:
data = data[data['Метро'].notna()]
data['Метро'] = data['Метро'].apply(lambda x: x.split()[1])
data['Метро'].nunique()

308

## В "Адрес" оставим название города

In [356]:
data['Адрес'] = data['Адрес'].apply(lambda x: x.split(", ")[0])
data['Адрес'].nunique()

2

## В "Парковка" нулевые значения заменим на "нет"

In [357]:
data['Парковка'].fillna(value='нет', inplace=True)
data.isnull().sum()

/tmp/ipykernel_23535/414362287.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Парковка'].fillna(value='нет', inplace=True)

ID  объявления                  0
Количество комнат               0
Метро                           0
Адрес                           0
Площадь, м2                     0
Парковка                        0
Цена                            0
Ремонт                       2721
Площадь комнат, м2           8069
Балкон                       7562
Окна                         6168
Санузел                      2416
Можно с детьми/животными     5736
Высота потолков, м          11155
Лифт                         4983
Мусоропровод                 9830
dtype: int64

## В "Ремонт" заменим пустые ячейки на "Без ремонта"

In [358]:
data['Ремонт'].fillna(value='Без ремонта', inplace=True)
data.isnull().sum()

/tmp/ipykernel_23535/831888262.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Ремонт'].fillna(value='Без ремонта', inplace=True)

ID  объявления                  0
Количество комнат               0
Метро                           0
Адрес                           0
Площадь, м2                     0
Парковка                        0
Цена                            0
Ремонт                          0
Площадь комнат, м2           8069
Балкон                       7562
Окна                         6168
Санузел                      2416
Можно с детьми/животными     5736
Высота потолков, м          11155
Лифт                         4983
Мусоропровод                 9830
dtype: int64

## "Площадь комнат, м2" удалим, поскольку в "Площадь, м2" есть сумма данных значений

In [359]:
data.drop(columns='Площадь комнат, м2', inplace=True)
data.columns

Index(['ID  объявления', 'Количество комнат', 'Метро', 'Адрес', 'Площадь, м2',
       'Парковка', 'Цена', 'Ремонт', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Высота потолков, м', 'Лифт',
       'Мусоропровод'],
      dtype='object')

## В "Балкон" заменим пустые ячейки на "нет"

In [360]:
data['Балкон'].fillna(value='нет', inplace=True)
data.isnull().sum()

/tmp/ipykernel_23535/3286912959.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Балкон'].fillna(value='нет', inplace=True)

ID  объявления                  0
Количество комнат               0
Метро                           0
Адрес                           0
Площадь, м2                     0
Парковка                        0
Цена                            0
Ремонт                          0
Балкон                          0
Окна                         6168
Санузел                      2416
Можно с детьми/животными     5736
Высота потолков, м          11155
Лифт                         4983
Мусоропровод                 9830
dtype: int64

## Удалим колонки, которые имеют много пропусков

In [361]:
data.drop(columns=['Окна','Санузел', 'Высота потолков, м', 'Можно с детьми/животными', 'Лифт', "Мусоропровод"], inplace=True)
data.columns

Index(['ID  объявления', 'Количество комнат', 'Метро', 'Адрес', 'Площадь, м2',
       'Парковка', 'Цена', 'Ремонт', 'Балкон'],
      dtype='object')

## Переименуем столбцы на английский

In [362]:
data.rename(columns={
    'ID  объявления': 'id',
    'Количество комнат': 'num_rooms',
    'Метро': 'metro',
    'Адрес': 'address',
    'Площадь, м2': 'area_m2',
    'Парковка': 'parking',
    'Цена': 'price',
    'Ремонт': 'repair',
    'Балкон': 'balcony',
}, inplace=True)

In [363]:
data.columns

Index(['id', 'num_rooms', 'metro', 'address', 'area_m2', 'parking', 'price',
       'repair', 'balcony'],
      dtype='object')

## Сохраним полученный датасет

In [364]:
data.to_csv('data.csv', index=False)